# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo

# Entorno virtual
env/
venv/
ENV/
.venv/

# Django
*.sqlite3
/staticfiles/
mediafiles/
db.sqlite3

# VS Code / PyCharm
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets (si tienes archivos de configuración privados)
*.env

